.header{
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    background-image: url("../../images/Main-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding-top: 181px;
    padding-bottom: 200px;
    text-align: center;
    &__title{
        font-weight: 700;
        font-size: 40px;
        line-height: 58px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &__image-container{}
    &__img{}
    &__subtitle{
        font-weight: 700;
        font-size: 24px;
        line-height: 35px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &__btn{
        text-decoration: none;
        color: #fff;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        padding: 5px 42px 5px 42px;
        border: 1px solid #fff;
        border-radius: 3px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition: all 0.3s ease-out;
        &:hover{
            background-color: rgba(185, 180, 180, 0.4);
        }
    }
}